:root {
  --primary-color: #bfa2db;
  --text-color: #444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #f0d9ff 0%, #d9d7f1 50%, #c1b2d0 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding-top: 5rem;
  box-sizing: border-box;
}

.card {
  width: 24rem;
  height: 15rem;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #444;
  border-radius: 1rem;
  color: #fff;
  backface-visibility: hidden;
  transition: 1s all;
  padding: 1rem;
}

.back {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0);
}

.card:hover .front {
  transform: rotateY(-180deg);
}

header {
  display: flex;
  justify-content: space-between;
}

.card-body {
  color: #fff;
  padding: 1rem 1.2rem;
  font-size: 1.8rem;
  font-family: monospace;
}

form {
  width: 32rem;
  height: 30rem;
  margin-top: -5rem;
  padding-top: 7rem;
  padding: 7rem 3rem;
  box-shadow: 0 5px 16px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #fff;
}

label {
  user-select: none;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.input-bottom {
  display: flex;
  justify-content: space-between;
}

input,
select {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.6rem;
  border: none;
  border: 2px solid #ddd;
  border-radius: 0.3rem;
  color: var(--text-color);
  caret-color: var(--primary-color);
  transition: 0.2s all ease-in-out;
}

select {
  width: 40%;
  height: 103%;
  font-weight: 500;
  cursor: pointer;
  appearance: none;
  position: relative;
  background: url("data:image/svg+xml;utf8,<svg fill='rebeccapurple' height='32' width='32' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    no-repeat 97%;
}

.select-group {
  display: flex;
  width: 100%;
}

input:hover,
select:hover {
  box-shadow: 0 1px 5px 1px rgba(220, 0, 0, 0.1);
  border: 2px solid var(--primary-color);
}

input:focus,
select:focus {
  outline: none;
}

.number-input,
.holder-name-input,
.date-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.date-input {
  flex: 1;
}

#month {
  margin-right: 1rem;
}

.cvv-input {
  width: 30%;
}

button {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
  background: var(--primary-color);
  transition: 0.2s opacity ease-in-out;
}

button:hover {
  opacity: 0.9;
}
