@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

:root {
  --primary-color: #2fdd92;
  --secondary-color: #aaa;
  --background-color: #010101;
  --border-color: #bdd2b6;
  --text-color: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 3rem;
}

.card {
  font-family: 'Roboto Mono', monospace;
  width: 32rem;
  height: 18rem;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.front {
  padding: 1.5rem 2rem;
  background: url('./img/world.svg') no-repeat 0;
  background-size: 100% 90%;
}

.back {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  border-radius: 1rem;
  color: #fff;
  backface-visibility: hidden;
  transition: 1s all;
}

.card:hover .back,
.card.flip .back {
  transform: rotateY(0);
}

.card:hover .front,
.card.flip .front {
  transform: rotateY(-180deg);
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  margin: 0 0 1.5rem;
}

.left-icons {
  display: flex;
  align-items: center;
}

.left-icons img {
  width: 4rem;
}

.payment-icon {
  width: 5rem;
}

.subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: var(--secondary-color);
}

.card-body,
.card-holder,
.card-date {
  display: flex;
  flex-direction: column;
}

.card-body .card-number {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2.1rem;
  position: relative;
}

.card-number svg {
  position: absolute;
  transform: rotate(270deg);
  right: -1.5rem;
  width: 5rem;
  height: 5rem;
  fill: var(--secondary-color);
}

.card-bottom {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Roboto Mono', monospace;
}

.card-holder-name,
.card-date {
  font-size: 1.3rem;
}

.date-field {
  display: flex;
}

.valid-thru {
  display: flex;
  max-width: 3.2rem;
  width: 3.2rem;
  font-size: 0.6rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  text-transform: uppercase;
  position: relative;
}

.valid-thru::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  right: 0.5rem;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-left: none;
  transform: translateY(-50%) rotate(45deg);
}

.strip {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background: #fff;
}

.cvv-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  width: 85%;
  height: 2.4rem;
  margin: 5rem auto;
  background: #fff;
  position: relative;
}

.cvv-field::before,
.cvv-field::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 4px;
  background-color: #eee;
  top: 0.7rem;
  left: 0;
}

.cvv-field::after {
  top: 1.5rem;
}

.signature {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  letter-spacing: -0.8px;
  padding: 0 0.5rem;
  text-transform: capitalize;
  z-index: 2;
}

.cvv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  width: 4rem;
  height: 2.4rem;
  background: var(--secondary-color);
  font-size: 1.2rem;
  font-style: italic;
  z-index: 1;
}

/**
  FORM 
**/

form {
  width: 38rem;
  height: 36rem;
  margin-top: -6rem;
  padding: 8rem 3rem;
  box-shadow: 0 5px 16px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #fff;
}

label {
  user-select: none;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.input-bottom {
  display: flex;
  justify-content: space-between;
}

input,
select {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.6rem;
  border: 2px solid var(--border-color);
  border-radius: 0.3rem;
  color: var(--text-color);
  caret-color: var(--primary-color);
  transition: 0.2s all ease-in-out;
}

select {
  width: 40%;
  height: 102%;
  font-weight: 600;
  cursor: pointer;
  appearance: none;
  position: relative;
  background: url("data:image/svg+xml;utf8,<svg fill='gray' height='32' width='32' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>")
    no-repeat 97%;
  background-size: 2.2rem;
}

.select-group {
  display: flex;
  width: 100%;
}

input:hover,
select:hover {
  box-shadow: 0 1px 5px 1px rgba(220, 0, 0, 0.1);
  border: 2px solid var(--primary-color);
}

input:focus,
select:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.number-input,
.holder-name-input,
.date-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.date-input {
  flex: 1;
}

#month {
  margin-right: 1rem;
}

.text-gray {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9rem 0.6rem;
}

option {
  color: var(--text-color);
  font-size: 1.3rem;
}

.cvv-input {
  width: 30%;
}

button {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
  background: var(--primary-color);
  transition: 0.2s opacity ease-in-out;
}

button:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 10px;
  }

  .card {
    width: 30rem;
  }

  form {
    width: 34rem;
    padding: 8rem 2rem;
  }
}
